/home/yahia/colcon_ws/install/zed_ros2:/home/yahia/colcon_ws/install/zed_wrapper:/home/yahia/colcon_ws/install/slam:/home/yahia/colcon_ws/install/simulation:/home/yahia/colcon_ws/install/fsai_api:/home/yahia/colcon_ws/install/control:/home/yahia/colcon_ws/install/common_msgs:/opt/ros/jazzy